@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

body {
  text-align: center;
  font-family: 'Montserrat','Open Sans', sans-serif;
  color: rgb(18, 18, 19);

}
h1{
  letter-spacing: 2px;
  font-weight: 500;
}

h2 {
  font-size: 1.8em;
  margin: 30px 0 40px;
  letter-spacing: 2px;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}
header{
  padding-bottom: 1em;

}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  /*background-color: #438bbd;*/
  background-color: rgb(18, 18, 19);
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: rgb(250, 250, 250);
  padding: 10px 15px;
  border: 1px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  background-color: #121213;
  border-radius: 3px;
  padding: 5px;
  color: #edf5e0;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #3a3a3a;
  transition: background-color 0.3s ease-out;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;

}

.photo-container ul li {
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 3px;
}

.photo-container ul img {
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
  object-fit: cover;

}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

@media only screen and (max-width: 767px)  {
  body {
    padding-top: 0.5em;
    padding-bottom: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 0.5em;
    padding-bottom: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }
  
  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}
